@charset "UTF-8";
.list {
  list-style: none;
  /* Убираем маркеры */
  padding: 0%;
  margin: 0%;
}

.strong-mame {
  display: none;
  background-color: rgb(13, 55, 91);
}

svg {
  height: 100%;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
  margin: 0 auto;
  max-width: 1600px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header, nav, .nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header, nav, .nav-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    font-size: 26px;
  }
}

.nav__web {
  color: #2196F3;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent;
}
.menu-button:hover {
  fill: #188CE8;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon-close {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .modal-button {
    display: none;
  }
}

.backdrop-header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow-y: scroll;
}
.backdrop-header.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-header.is-hidden {
  display: none;
}

.modal-header {
  position: absolute;
}
@media screen and (min-width: 480px) {
  .modal-header {
    top: 0;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    width: 480px;
    height: 796px;
    background-color: #FFFFFF;
    padding: 48px 0px 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .modal-header {
    display: none;
  }
}

.modal-form__ring.border-color {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
}

.modal-contacts {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.modal-contacts:nth-child(-n+2) {
  margin-bottom: 32px;
}
.modal-contacts:nth-child(3) {
  margin-bottom: 302px;
}
.modal-contacts:nth-child(4) {
  margin-bottom: 32px;
}

.unactive {
  color: #212121;
  text-decoration: none;
}

.active {
  color: #2196F3;
  text-decoration: none;
}

.modal-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.modal-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.social-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.social-set {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 64px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social-set:last-child {
  margin-right: 0px;
}
.social-set:last-child {
  padding-right: 0px;
}
.social-set:last-child {
  border-right: 1px transparent;
}

@media screen and (max-width: 480px) {
  .nav-main {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .nav-main {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-main {
    margin-left: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav-main {
    margin-left: 93px;
  }
}

.nav-main__items {
  position: relative;
  padding: 10px 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-main__items:not(:first-child) {
  margin-left: 50px;
}

.nav-main__link {
  position: relative;
  padding: 10px 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.nav-main__link--current {
  color: #2196F3;
}
.nav-main__link--current::after {
  position: absolute;
  left: 0;
  top: 59px;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .nav-main__link--current::after {
    top: 63px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-main__link--current::after {
    top: 59px;
  }
}
.nav-main__link:hover, .nav-main__link:focus {
  color: #188CE8;
}

@media screen and (max-width: 480px) {
  .address {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.address__items {
  display: block;
}
@media screen and (min-width: 768px) {
  .address__items:not(:last-child) {
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .address__items:not(:last-child) {
    padding-right: 50px;
  }
}

.address__contact {
  display: inline-block;
  text-align: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .address__contact {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .address__contact {
    font-size: 14px;
  }
}
.address__contact:hover, .address__contact:focus {
  color: #188CE8;
  fill: #188CE8;
}

.address__icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover .address__icon, .address__contact:focus .address__icon {
  color: #188CE8;
  fill: #188CE8;
}

.main-slogan {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2F303A;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//images/slogan/mainmobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/slogan/mainmobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//images/slogan/maintablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/slogan/maintablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(..//images/slogan/maindesk@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/slogan/maindesk@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .main-slogan__box {
    width: 360px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-slogan__box {
    width: 696px;
    margin: 0 auto;
  }
}

.main-slogan__text {
  display: block;
  margin: 0;
  color: #FFFFFF;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .main-slogan__text {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .main-slogan__text {
    font-size: 44px;
  }
}

.button {
  cursor: pointer;
  border: 0px solid transparent;
}

.main-slogan__button {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 30px;
  min-width: 200px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-slogan__button:hover {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 2931px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .modal {
    top: 93px;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
  }
}

textarea {
  width: 100%;
  resize: none;
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form__slogan {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__details {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__console input {
  padding: 11px 0px 11px 40px;
}

.modal-form__console {
  position: relative;
}
.modal-form__console:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__console textarea {
  padding: 12px 16px;
}

.modal-form__image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__console:hover .modal-form__image, .modal-form__console:focus .modal-form__image {
  fill: #2196F3;
  cursor: pointer;
}

.input-form, textarea {
  width: 100%;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0px;
  font-size: 14px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__console:hover .input-form, .modal-form__console:focus .input-form, .modal-form__console:hover textarea, .modal-form__console:focus textarea {
  outline: none !important;
  border: 1px solid #2196F3;
  cursor: pointer;
}

.modal-checkbox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-checkbox__confirmation input[type=checkbox] {
  position: absolute;
  top: 4px;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  border-radius: 2px;
  width: 16px;
  height: 15px;
}

.modal-checkbox__input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  border: 2px solid #212121;
}
.modal-checkbox__input:checked {
  border: 2px solid #2196F3;
  background-color: #2196F3;
  background-image: url("../images/icon_check_white.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-checkbox__contract {
  color: #2196F3;
}

.submit-button {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form__ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

.modal-form__close {
  height: 18px;
  width: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__ring:hover .modal-form__close, .modal-form__ring:focus .modal-form__close {
  fill: #2196F3;
}

@media screen and (min-width: 320px) {
  .strong-points {
    padding: 60px 0;
  }
}
@media screen and (min-width: 480px) {
  .strong-points {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .strong-points {
    padding: 94px 0;
  }
}

.points {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 320px) {
  .points {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 480px) {
  .points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .point-set:not(:first-child) {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .point-set:not(:first-child) {
    margin-left: 30px;
  }
}

.point-set__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}
@media screen and (max-width: 480px) {
  .point-set__icon {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .point-set__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .point-set__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .point-set__icon {
    width: 270px;
  }
}

.point-set__image {
  width: 70px;
  height: 70px;
}

.point-set__title {
  display: block;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.point-set__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 480px) {
  .point-set__text {
    display: block;
    width: 320px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .point-set__text {
    display: block;
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .point-set__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .point-set__text {
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .photo {
    display: none;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    display: block;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.photo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.photo-card__cover {
  position: relative;
}
.photo-card__cover::before {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.photo-card__text {
  position: absolute;
  bottom: 27px;
  left: 0;
  width: 100%;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
  margin: 0 auto;
  max-width: 1600px;
}

@media screen and (min-width: 480px) {
  .team-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .team-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    text-align: center;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    text-align: center;
  }
}

.team-card {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .team-card__photo {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 480px) {
  .team-card__photo {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-card__photo {
    display: block;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__photo {
    display: block;
    width: 270px;
    max-width: 100%;
  }
}

.team-card__description {
  padding: 30px 0 0 0;
}

.team-card__name {
  margin: 0em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-card__position {
  margin-top: 10px;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-top: 16px;
  padding-bottom: 30px;
  list-style: none;
}

.team-card__link {
  margin: 0;
  padding: 0;
}
.team-card__link:not(:last-child) {
  margin-right: 10px;
}

.team-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card__icon:hover, .team-card__icon:focus {
  fill: #FFFFFF;
  background-color: #188CE8;
}

.team-card__image {
  width: 20px;
  height: 20px;
}

.customers {
  padding: 94px 0;
}

.customers-block {
  list-style: none;
}
@media screen and (max-width: 480px) {
  .customers-block {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .customers-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .customers-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .customers-block__set {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .customers-block__set {
    margin-bottom: 30px;
  }
  .customers-block__set:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .customers-block__set {
    margin-bottom: 30px;
  }
  .customers-block__set:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers-block__set {
    margin-bottom: 0;
  }
  .customers-block__set:not(:last-child) {
    margin-right: 30px;
  }
}

.customers-block__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .customers-block__icon {
    height: 92px;
    width: 210px;
  }
}
@media screen and (min-width: 480px) {
  .customers-block__icon {
    height: 92px;
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers-block__icon {
    height: 92px;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-block__icon {
    height: 92px;
    width: 170px;
  }
}
.customers-block__icon:hover, .customers-block__icon:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.customers-block__image {
  width: 106px;
  height: 60px;
}

footer {
  background-color: #2F303A;
  padding: 0;
  margin: 0 auto;
  max-width: 1600px;
}

@media screen and (max-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 480px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contact-block__logo {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .contact-block__logo {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .contact-block__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-block__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .contact-block__logo {
    display: inline-block;
  }
}

.nav__web--inverse {
  color: #FFFFFF;
}

.contact-address:nth-child(-n+3) {
  margin-bottom: 9px;
}

.contact-block__address {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .contact-block__address {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .contact-block__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-block__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.contact-block__address:hover, .contact-block__address:focus {
  color: #188CE8;
}

.contact-block__mailandtel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .contact-block__mailandtel {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .contact-block__mailandtel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-block__mailandtel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.contact-block__mailandtel:hover, .contact-block__mailandtel:focus {
  color: #188CE8;
}

.icons-block {
  list-style: none;
}
@media screen and (max-width: 480px) {
  .icons-block {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .icons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .icons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .icons-block {
    display: block;
    margin-left: 70px;
    margin-bottom: 0px;
  }
}

.icons-block__slogan {
  display: block;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.social-contact {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-contact__icon {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social-contact__icon:not(:last-child) {
  margin-right: 10px;
}

.social-contact__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contact__ref:hover, .social-contact__ref:focus {
  background-color: #188CE8;
}

.social-contact__image {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.subscription-block {
  list-style: none;
}
@media screen and (max-width: 480px) {
  .subscription-block {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .subscription-block {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-block {
    margin-left: 92px;
    padding-top: 12px;
  }
}

.subscription-block__slogan {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .subscription-block__slogan {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .subscription-block__slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-block__slogan {
    display: block;
  }
}

.subscription-block__email {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .subscription-block__email {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .subscription-block__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-block__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscription-block__email input {
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}
@media screen and (max-width: 480px) {
  .subscription-block__email input {
    max-width: 350px;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .subscription-block__email input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-block__email input {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
  }
}

.subscription-block__button {
  cursor: pointer;
  padding: 10px 8px 10px 29px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  border: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .subscription-block__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .subscription-block__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-block__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 17px;
  }
}

.subscription-block__image {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.portfolio {
  padding: 94px 0;
}

@media screen and (min-width: 320px) {
  .job-button {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .job-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .job-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .job-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .job-button__items {
    margin-left: 0px;
  }
}
@media screen and (min-width: 480px) {
  .job-button__items {
    margin-right: 8px;
  }
  .job-button__items:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .job-button__items {
    margin-left: 8px;
  }
}

.job-button__button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.job-button__button:hover, .job-button__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 480px) {
  .job-presentation {
    display: block;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 480px) {
  .job-presentation {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .job-presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 320px) {
  .job-presentation__items {
    width: 320px;
    margin-bottom: 30px;
  }
  .job-presentation__items:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 480px) {
  .job-presentation__items {
    width: 450px;
    margin-bottom: 30px;
  }
  .job-presentation__items:last-child {
    margin-bottom: 0px;
  }
  .job-presentation__items:first-child .job-presentation__sample {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .job-presentation__items {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-right: 0;
    width: calc((100% - 30px) / 2);
  }
  .job-presentation__items:first-child .job-presentation__sample {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .job-presentation__items {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 3);
  }
  .job-presentation__items:first-child .job-presentation__sample {
    padding-bottom: 20px;
  }
  .job-presentation__items:nth-child(3n) {
    margin-right: 0;
  }
  .job-presentation__items:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.job-presentation__ref {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.job-presentation__ref:hover, .job-presentation__ref:focus {
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.job-presentation__window {
  position: relative;
  overflow: hidden;
}

.job-presentation__image {
  height: 294px;
  display: block;
}
@media screen and (max-width: 480px) {
  .job-presentation__image {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .job-presentation__image {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .job-presentation__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .job-presentation__image {
    width: 370px;
  }
}

.job-presentation__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.job-presentation__ref:hover .job-presentation__cover, .job-presentation__ref:focus .job-presentation__cover {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.job-presentation__text {
  display: block;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.job-presentation__sample {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.job-presentation__project {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.job-presentation__type {
  margin-top: 4px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */