@import 'utils/variables';
@import 'utils/placeholders';
@import 'base/normalize';
@import 'components/page-header';
@import 'components/header_logo';
@import 'components/header_nav';
@import 'components/header_address';
@import 'components/main-slogan';
@import 'components/main-slogan_modal';
@import 'components/strong-points';
@import 'components/our-speciality';
@import 'components/our-team';
@import 'components/our-customers';
@import 'components/page-footer';
@import 'components/footer-logo';
@import 'components/footer-social';
@import 'components/footer-subsription';
@import 'components/portfolio';
@import 'components/portfolio-buttons';
@import 'components/portfolio-presentation';

