.nav__logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: $font-size-logo;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.nav__web {
    color: $color-button;
}
