.customers {
    padding: 94px 0;
}
.customers-block {
    
    list-style: none;
    @media screen and (min-width: $mobile) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        }
    
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
         }
           
        @media screen and (min-width: $desktop) {    
            display: flex;
            margin: 0;
            padding: 0;        
         }    
       
    
}
.customers-block__set {
        @media screen and (min-width: $mobile) {
                margin-bottom: 30px;        
                &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }
            }

    
        @media screen and (min-width: $tablet) {
                    margin-bottom: 30px;
                    &:nth-last-child(-n+3) {
                        margin-bottom: 0;                    }   
                }
    
            @media screen and (min-width: $desktop) {               
                    margin-bottom: 0;                
                &:not(:last-child) { margin-right: 30px; }       

                                                    }
}
            
        


.customers-block__icon {
                    @media screen and (min-width: $mobile) {
                    height: 92px;
                    width: 210px;
                    }
                    @media screen and (min-width: $tablet) {
                    height: 92px;
                    width: 226px;
                    }
                    @media screen and (min-width: $desktop) {
                    height: 92px;
                    width: 170px;
                    }
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $color-icon-black;
    border-radius: 4px;
    fill: $color-icon-black;
    background-color: $color-icon-background;
    transition: fill $twohundred-dur $timing-function,
                    border $twohundred-dur $timing-function;

            &:hover, &:focus    {
                                fill: $color-button;
                                border: 1px solid $color-button;
                                }
}
.customers-block__image {
    width: 106px;
    height: 60px;
}

