footer {
    background-color: $background-color-addition;
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;

}
.footer {


    @media screen and (max-width: $mobile) {
            display: block;
            padding: 60px 0px;       
        }


    @media screen and (min-width: $mobile) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                    padding: 60px 0;
        }
    
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
                padding: 60px 76px 60px  89px;
        
        }
    
        @media screen and (min-width: $desktop) {
                display: flex; 
                justify-content: left;
                padding: 60px 15px;
               

        }

    
}