.job-presentation {
    display: flex;
    flex-wrap: wrap;
}
.job-presentation__items {
    width: calc((100% - 60px)/3);
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
    margin-right: 0;}
    &:nth-last-child(-n+3) {
    margin-bottom: 0;}
}
.job-presentation__ref {
    display: block;
    text-decoration: none;
    transition: box-shadow $twohundred-dur $timing-function;
    &:hover, &:focus {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                        }
}
.job-presentation__window {
    position: relative;
    overflow: hidden;
}
.job-presentation__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform $twohundred-dur $timing-function;

    .job-presentation__ref:hover &,
    .job-presentation__ref:focus & {
                                    transform: translateY(0%);
                                    }
}
.job-presentation__text {
    display: block;
    margin: 0;
    padding: 63px 24px;
    font-weight: $font-weight-four;
    font-size: $font-size-medium;
    line-height: 1.56;
    letter-spacing: $letter-spacing-medium;
    color: $background-color-main;
}
.job-presentation__sample {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;

    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}
.job-presentation__project {
    margin: 0;
    color: $color-main;
    font-weight: $font-weight-seven;
    font-size: $font-size-medium;
    line-height: 2;
    letter-spacing: $letter-spacing-big;
}
.job-presentation__type {
    margin-top: 4px;
    margin-bottom: 0px;
    color: $color-addition;
    font-weight: $font-weight-four;
    font-size: $font-size-small;
    line-height: 1.88;
    letter-spacing: $letter-spacing-medium;
}