.strong-points {
                @media screen and (min-width: 320px) {
                padding: 60px 0;  
                }

            @media screen and (min-width: $mobile) {
                    padding: 60px 0;
                }
            
                @media screen and (min-width: $desktop) {
                padding: 94px 0;
                }
  
}
.points {
            list-style: none;
            padding: 0;
            margin: 0;

        @media screen and (min-width: 320px) {
                    display: block;
                  margin-left: auto;
     
                
                }           
        @media screen and (min-width: $mobile) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }    
        @media screen and (min-width: $tablet) {
            display: flex;         
            justify-content: space-between;
        }    
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-wrap: nowrap;            
        }
   
}

.point-set:not(:first-child) {
        @media screen and (min-width: $mobile) {
            margin-left: 0px;       
            } 
            @media screen and (min-width: $desktop) {
             margin-left: 30px;        
            }    
}

.point-set__icon {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    @media screen and (max-width: $mobile) {
            width: 320px;
        }

    @media screen and (min-width: $mobile) {
        width: 450px;
    }
    @media screen and (min-width: $tablet) {
        width: 354px; 
    }
    @media screen and (min-width: $desktop) {
        width: 270px; 
    }
    height: 120px;
    border-radius: 4px;
    background-color: $background-color-button;
}
.point-set__image {
    
    width: 70px;
    height: 70px;
}
.point-set__title {
    display: block;
    margin: 0;
    font-weight: $font-weight-seven;
    font-size: $font-size-extrasmall;
    line-height: 1.14;
    letter-spacing: $letter-spacing-medium;
    text-transform: uppercase;
}
.point-set__text {
    @media screen and (max-width: $mobile) {
        display: block;
            width: 320px;
            margin-bottom: 30px;

        }
    @media screen and (min-width: $mobile) {
        display: block;
        width: 450px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet) {
        width: 354px;
        }   
    @media screen and (min-width: $desktop) {
        width: 270px;
    }  
   
    color: $color-addition;
    font-weight: $font-weight-four;
    font-size: $font-size-extrasmall;
    line-height: 1.71;
    letter-spacing: $letter-spacing-medium;
}