$background-color-main: #FFFFFF;
$background-color-addition:#2F303A;
$background-color-button: #F5F4FA;
$border-color: #EEEEEE;
$color-main: #212121;
$color-addition: #757575;
$color-button: #2196F3;
$color-white-opacity: rgba(255, 255, 255, 0.6);
$color-hover: #188CE8;
$color-icon: #E5E5E5;
$color-icon-black: #AFB1B8;
$color-header: #212121;
$color-icon-background: rgba(255, 255, 255, 0.1);
$color-cover-background: rgba(47, 48, 58, 0.8);
$letter-spacing-small: 0.02em;
$letter-spacing-medium: 0.03em;
$letter-spacing-big: 0.06em;
$font-size-twelf: 12px;
$font-size-extrasmall: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-big: 30px;
$font-size-superbig: 36px;
$font-size-logo: 26px;
$font-weight-four: 400;
$font-weight-five: 500;
$font-weight-seven: 700;
$font-weight-nine: 900;
$twohundred-dur: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

